<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>

    <h1>Liste des challenges disponibles</h1>

    <a th:href="@{/users/dashboard}">Retour au Dashboard</a>
    <a th:href="@{/challenges/formCreate}">Créer un nouveau challenge</a>

    <hr>

    <ul th:if="${not #lists.isEmpty(user.joinedChallenges)}">
        <li th:each="challenge : ${user.joinedChallenges}">
            <strong th:text="${challenge.title}">Titre du challenge</strong> 
            - Durée : <span th:text="${challenge.duration.toDays()}">0</span> jours
            - Sport : <span th:text="${challenge.sport?.name}">Sport</span>
            - Visibilité : <span th:text="${challenge.visibility}">Privé/Public</span>
            - Créé par : <span th:text="|${challenge.creator?.firstName} ${challenge.creator?.name}|">Prénom Nom</span>
        </li>
    </ul>

</body>
</html>